.contenedor_main{
  background-color: #eeeeee;    
  border-radius: 1%;
}
.Icono_Main{
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
}
.Parrafo_Boostrap{
  text-align: justify;
}
.Imagen_Principal{
  width: 50vw;
  height: 20vw;
}

.Imagen_Tarjeta{
  width: 100%;
  height: 12vw;
}
.Icono_Google{
  width: 1.5vw;
  height: 1.5vw;
}